services:
  postgres:
    image: postgres:16
    container_name: goverse_postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - goverse_network

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    networks:
      - goverse_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./user-service/.env:/app/.env
    networks:
      - goverse_network
    expose:
      - "8085"
    command: /bin/sh -c "migrate -path /app/migrations -database $${DB_URL} up && /app/app"
    environment:
      - DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/users?sslmode=disable
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=users
      - ENV=dev # Mantenha esta linha
      # Adicione as variáveis do gRPC que estavam no seu .env
      - GRPC_PORT=:50051
      - APP_PORT=8085
    labels:
      - "traefik.enable=true"

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    depends_on:
      - user-service
    volumes:
      - ./.keys/private.pem:/keys/private.pem:ro 
    networks:
      - goverse_network
    expose:
      - "8080"
    environment:
      - APP_PORT=8080
      - JWT_PRIVATE_KEY_PATH=/keys/private.pem
      - GRPC_SERVER_HOST=user-service
      - GRPC_SERVER_PORT=:50051
      - ENV=devc
    labels:
      - "traefik.enable=true"

  room-service:
    build:
      context: .
      dockerfile: ./room-service/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      user-service:
        condition: service_started
    volumes:
      - ./room-service/.env:/app/.env
    networks:
      - goverse_network
    expose:
      - "8080"
      - "50052"
    command: /bin/sh -c "migrate -path /app/migrations -database $${DB_URL} up && /app/app"
    environment:
      - DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/rooms?sslmode=disable
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=rooms
      - ENV=dev # Mantenha esta linha
      # Adicione as variáveis que estavam no seu .env
      - ROOM_SERVICE_PORT=8080
      - GRPC_SERVER_HOST=user-service
      - GRPC_SERVER_PORT=:50051
    labels:
      - "traefik.enable=true"

  chat-service:
    build:
      context: .
      dockerfile: ./chat-service/Dockerfile
    depends_on:
      # Adicione dependências se ele precisar de outros serviços para iniciar
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./.keys/public.pem:/keys/public.pem:ro # Monta a chave pública em modo somente leitura
      # - ./chat-service/.env:/app/.env # Descomente se você adicionar um .env
    command: /bin/sh -c "migrate -path /app/migrations -database $${DB_URL} up && ./app"

    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=messages
      - JWT_PUBLIC_KEY_PATH=/keys/public.pem
      - REDIS_ADDR=${REDIS_ADDR}
      - ROOM_SERVICE_URL=${ROOM_SERVICE_URL}
      - DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/messages?sslmode=disable
      - KAFKA_BROKERS=kafka:29092 # Porta interna do docker
      - ENV=dev
      
    networks:
      - goverse_network
    expose:
      - "8084" # Porta interna do serviço
      - "50052"
    labels:
      - "traefik.enable=true"

  auth-middleware:
    build:
      context: ./auth-middleware
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    environment:
      - PORT=3000
      - JWT_PUBLIC_KEY_PATH=/keys/public.pem
    ports:
      - "3000:3000"
    volumes:
      - ./.keys/public.pem:/keys/public.pem:ro
    networks:
      - goverse_network

  traefik:
    image: traefik:v2.11
    container_name: traefik
    depends_on:
      auth-middleware:
        condition: service_healthy
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.metrics.address=:8082
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=/etc/traefik
      - --providers.file.watch=true
      - --api.dashboard=true
      - --metrics.prometheus=true
    ports:
      - "${TRAEFIK_HTTP_PORT}:80"
      - "8080:8080"
      - "8082:8082"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/traefik_dynamic.yml:/etc/traefik/traefik_dynamic.yml:ro
    networks:
      - goverse_network

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - goverse_network

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/datasources:/etc/grafana/provisioning/datasources
    networks:
      - goverse_network

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - goverse_network
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 100M
  documentation-service:
      build:
        context: .
        dockerfile: ./api-gateway/Dockerfile # Reutiliza o Dockerfile
      networks:
        - goverse_network
      expose:
        - "8090" # Porta interna definida no main.go
      environment:
        - DOCS_PORT=8090
        - ENV=dev
      labels:
        - "traefik.enable=true"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: goverse_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - goverse_network

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: goverse_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Configuração crítica para rodar no Docker + Acesso externo (se precisar)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - goverse_network
    healthcheck:
      test: nc -z localhost 9092 || exit -1
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  pgdata:
  redis_data:
  grafana_data:

networks:
  goverse_network:
    driver: bridge