name: auth-service CI

on:
  push:
    paths:
      - 'auth-service/**'
      - 'proto/**' 
    branches: [ "main" , "feature/*" ]
  pull_request:
    paths:
      - 'auth-service/**'
      - 'proto/**'
    branches: [ "main" ]

jobs:
  # O nome do job agora é "chamar o workflow"
  call-reusable-ci:
    # Diz onde está o template
    uses: ./.github/workflows/reusable-go-ci.yml
    # Passa a variável que o template espera
    with:
      service-name: auth-service