name: user-service CI

on:
  push:
    paths:
      - 'user-service/**'
      - 'proto/**'
    branches: [ "main" , "feature/*" ]
  pull_request:
    paths:
      - 'user-service/**'
      - 'proto/**'
    branches: [ "main" ]

jobs:
  call-reusable-ci:
    uses: ./.github/workflows/reusable-go-ci.yml
    with:
      service-name: user-service